<app-card-formulario-validacion
  [validacionData]="validacionData()"
  [data]="datos()"
  [progress]="progress()"
  [isEditar]="isEditar()"
  [continuarProceso]="true"
  (nuevaAccion)="nuevaConvocatoria()"
  (continuar)="continuarProgreso()"
>
  <p-confirmdialog />

  <form
    #formulario
    class="relative grid grid-cols-1 md:grid-cols-2 justify-items-center border-transparent rounded-xl p-2"
    [formGroup]="formConvocatoria"
  >
    <div class="contenedor">
      <label
        for="name"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Nombre</label
      >
      <input
        pInputText
        id="name"
        type="text"
        placeholder="Nombre"
        class="w-full md:w-[30rem] mb-8"
        formControlName="name"
        appValidationClass
      />
    </div>
    <div class="contenedor">
      <label
        for="description"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Descripcion</label
      >
      <input
        pInputText
        id="description"
        type="text"
        placeholder="description"
        class="w-full md:w-[30rem] mb-8"
        formControlName="description"
        appValidationClass
      />
    </div>

    <div class="contenedor">
      <label
        for="range"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Fecha Convocatoria
      </label>
      <p-datepicker
        id="range"
        formControlName="rangeDatesEnrollment"
        selectionMode="range"
        [readonlyInput]="true"
        [showButtonBar]="true"
        pTooltip="Ingresa la fecha de inicio y la fecha final"
        tooltipPosition="top"
        [minDate]="minDate"
        placeholder="Selecciona un rango"
        [showIcon]="true"
        class="w-full md:w-[30rem] mb-8"
        appValidationClass
      ></p-datepicker>
    </div>

    <!-- HTML para reemplazar la sección de acciones -->
    <div class="acciones-container col-span-3">
      <h3 class="acciones-titulo">
        <i class="pi pi-cog"></i>
        Acciones
      </h3>

      @if (progress()===0) { @if (isEditar()) {
      <!-- Grid de acciones en modo edición -->
      <div class="acciones-grid-editar">
        <!-- Acciones principales -->
        <div class="acciones-principales">
          <p-button
            class="accion-btn"
            (onClick)="crearGrupo()"
            label="Crear Grupos"
            icon="pi pi-plus"
            [outlined]="true"
            severity="primary"
          />
          @if(!this.isFecha()){
          <p-button
            class="accion-btn"
            (onClick)="confirmarEdicionFechas()"
            label="Editar Fechas"
            icon="pi pi-calendar"
            [outlined]="true"
            severity="warn"
          />
          }
        </div>

        <!-- Acciones especiales -->

        <h3 class="acciones-titulo">
          <i class="pi pi-cog"></i>
          Administrar convocatoria
        </h3>
      </div>
      <div class="acciones-grid-editar">
        <div class="acciones-principales">
          @if (!isActiva()) {
          <p-button
            class="accion-btn accion-destacada"
            (onClick)="accionActualizarTipo('publicar', this.convocatoriaId())"
            label="Publicar"
            icon="pi pi-check-circle"
            severity="success"
          />
          }
          <p-button
            class="accion-btn accion-destacada"
            (onClick)="accionActualizarTipo('publicar', this.convocatoriaId())"
            label="Cerrar"
            icon="pi pi-check-circle"
            severity="warn"
          />
          <p-button
            class="accion-btn accion-destacada"
            (onClick)="accionActualizarTipo('publicar', this.convocatoriaId())"
            label="Cancelar"
            icon="pi pi-check-circle"
            severity="danger"
          />
        </div>
      </div>

      }

      <!-- Acción principal cuando no es edición -->
      <div class="accion-principal-contenedor">
        <p-button
          class="accion-btn accion-main"
          (onClick)="tipoDeAccion()"
          [label]="datos().buttonText"
          icon="pi pi-save"
          severity="primary"
        />
      </div>
      } @else if(progress()===1){
      <!-- Acciones para el siguiente paso -->
      }
    </div>

    <app-carta
      [duration]="6"
      [delay]="2"
      [borderWidth]="2"
      borderRadius="xl"
      [reverse]="true"
    >
    </app-carta>
  </form>
</app-card-formulario-validacion>
