@keyframes border-beam {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.animate-border-beam {
  offset-path: rect(0 auto auto 0 round var(--border-radius, 8px));
  animation-name: border-beam;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
