<app-register-generic [data]="data" (formulario)="enviarFormulario()">
  <form
    #formulario
    class="grid grid-cols-1 md:grid-cols-2"
    [formGroup]="formRegister"
  >
    <h2 class="md:col-span-2">Datos Personales</h2>
    <div class="contenedor">
      <label
        for="text"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Nombre</label
      >
      <input
        pInputText
        id="text"
        type="text"
        placeholder="Nombre"
        class="w-full md:w-[30rem] mb-8"
        formControlName="name"
        appValidationClass
      />
    </div>
    <div class="contenedor">
      <label
        for="lastName"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Apellido</label
      >
      <input
        pInputText
        id="lastName"
        type="text"
        placeholder="Apellido "
        class="w-full md:w-[30rem] mb-8"
        formControlName="lastName"
        appValidationClass
      />
    </div>
    <div class="contenedor">
      <label
        for="birthDate"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Fecha Cumpleaños</label
      >
      <input
        pInputText
        id="date"
        type="date"
        [min]="edadadService.VerificacionMenor80Edad()"
        [max]="edadadService.VerificacionMayor16Edad()"
        class="w-full md:w-[30rem] mb-8"
        formControlName="birthDate"
        appValidationClass
      />
    </div>
    <div class="contenedor">
      <label
        for="genre"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Genero</label
      >
      <p-select
        [options]="generos"
        optionValue="code"
        optionLabel="genre"
        placeholder="Selecciona un genero"
        id="date"
        type="date"
        class="w-full md:w-[30rem] mb-8"
        formControlName="genre"
        appValidationClass
      />
    </div>
    <div class="contenedor">
      <label
        for="documentType"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Tipo documento</label
      >
      <p-select
        formControlName="documentType"
        [options]="documentsTypes()"
        optionValue="code"
        class="w-full md:w-[30rem] mb-8"
        optionLabel="documentType"
        placeholder="selecciona un tipo de documento"
        appValidationClass
      />
    </div>
    <div class="contenedor">
      <label
        for="documentNumber"
        class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
        >Numero documento</label
      >
      <input
        pInputText
        id="documentNumber"
        type="text"
        SoloNumeros
        placeholder="numero documento "
        class="w-full md:w-[30rem] mb-8"
        formControlName="documentNumber"
        appValidationClass
        [minlength]="6"
        [maxlength]="10"
      />
    </div>
    <h2 class="col-span-2">Datos de Contacto</h2>
    <div class="contenedor">
      <label
        for="phoneNumber"
        class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
        >Numero de celular</label
      >
      <input
        pInputText
        SoloNumeros
        id="phoneNumber"
        type="text"
        placeholder="Teléfono"
        formControlName="phoneNumber"
        [minlength]="10"
        [maxlength]="10"
        class="w-full md:w-[30rem] mb-8"
        appValidationClass
      />
    </div>
    <div class="contenedor">
      <label
        for="birthPlace"
        class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
        >Lugar de Nacimiento</label
      >
      <input
        pInputText
        type="text"
        placeholder="Lugar de Nacimiento"
        formControlName="birthPlace"
        class="w-full md:w-[30rem] mb-8"
        appValidationClass
      />
    </div>
    <div class="contenedor">
      <label
        for="placeOfResidence"
        class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
        >Lugar de Recidencia</label
      >
      <input
        pInputText
        type="text"
        placeholder="Calle 20# 21-29 primero de mayo"
        formControlName="placeOfResidence"
        class="w-full md:w-[30rem] mb-8"
        appValidationClass
      />
    </div>
    <h2 class="col-span-2">Datos Academicos</h2>
    <div class="contenedor">
      <label
        for="program"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Programa Acedemico</label
      >
      <p-autocomplete
        formControlName="program"
        [suggestions]="programFilteredValue()"
        placeholder="Selecciona o busca tu programa"
        optionValue="id"
        optionLabel="name"
        dropdown
        display="chip"
        (completeMethod)="filterProgram($event)"
      />
    </div>
    <div class="contenedor">
      <label
        for="semester"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Semestre Academico</label
      >
      <p-inputNumber
        SoloNumeros
        id="semester"
        type="text"
        [min]="1"
        [max]="20"
        placeholder="Semestre Academico"
        class="w-full md:w-[30rem] mb-8"
        formControlName="semester"
        appValidationClass
      />
    </div>
    <div class="contenedor">
      <label
        for="admissionDate"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Fecha Ingreso</label
      >
      <input
        pInputText
        id="admissionDate"
        type="date"
        [max]="edadadService.VerificacionMayor16Edad()"
        class="w-full md:w-[30rem] mb-8"
        formControlName="admissionDate"
        appValidationClass
      />
    </div>
    <div class="contenedor" formGroupName="user">
      <label
        for="institutionalEmail"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Email</label
      >
      <input
        pInputText
        id="institutionalEmail"
        type="text"
        placeholder="Email Institucional "
        class="w-full md:w-[30rem] mb-8"
        formControlName="institutionalEmail"
        appValidationClass
      />
    </div>
    <div class="contenedor" formGroupName="user">
      <label
        for="password"
        class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
        >Password</label
      >
      <p-password
        id="password"
        formControlName="password"
        placeholder="Password"
        [toggleMask]="true"
        styleClass="mb-4"
        [fluid]="true"
        [feedback]="false"
      ></p-password>
    </div>
  </form>
</app-register-generic>
