<app-card-formulario [datos]="datos">
  <p-dialog />
  <p-toast />

  <div>
    <form [formGroup]="formLogin">
      <label
        for="username"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Usuario</label
      >
      <input
        pInputText
        appValidationClass
        id="username"
        type="text"
        placeholder="Usuario "
        class="w-full md:w-[30rem] mb-8"
        formControlName="username"
      />

      <label
        for="password1"
        class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
        >Password</label
      >
      <p-password
        id="password1"
        formControlName="password"
        placeholder="Password"
        [toggleMask]="true"
        styleClass="mb-4"
        [fluid]="true"
        [feedback]="false"
        appValidationClass
      ></p-password>
    </form>

    <div class="flex items-center justify-between mt-2 mb-8 gap-8">
      <span
        routerLink="/auth/email-confirmation"
        class="font-medium no-underline ml-2 text-right cursor-pointer text-primary"
        >Olvidaste la contraseña?</span
      >
      <span
        routerLink="/auth/register"
        class="font-medium no-underline ml-2 text-right cursor-pointer text-primary"
        >No tienes cuenta?, registrate!</span
      >
    </div>
    <p-button
      (click)="enviarFormulario()"
      label="Sign In"
      styleClass="w-full"
    ></p-button>
  </div>
</app-card-formulario>
