<app-card-formulario [datos]="datos">
  <div>
    <form [formGroup]="formLogin">
      <label
        for="email1"
        class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
        >Email</label
      >
      <input
        pInputText
        id="email1"
        type="text"
        placeholder="Email "
        class="w-full md:w-[30rem] mb-8"
        formControlName="email"
        [ngClass]="{
          'ng-invalid ng-dirty':
            formLogin.get('email')?.invalid &&
            (formLogin.get('email')?.dirty || formLogin.get('email')?.touched)
        }"
      />

      <label
        for="password1"
        class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
        >Password</label
      >
      <p-password
        id="password1"
        formControlName="password"
        placeholder="Password"
        [toggleMask]="true"
        styleClass="mb-4"
        [fluid]="true"
        [feedback]="false"
      ></p-password>
    </form>

    <div class="flex items-center justify-between mt-2 mb-8 gap-8">
      <!-- <div class="flex items-center">
              <p-checkbox
                [(ngModel)]="checked"
                id="rememberme1"
                binary
                class="mr-2"
              ></p-checkbox>
              <label for="rememberme1">Remember me</label>
            </div> -->
      <span
        class="font-medium no-underline ml-2 text-right cursor-pointer text-primary"
        >Olvidaste la contraseña?</span
      >
      <span
        routerLink="/auth/register"
        class="font-medium no-underline ml-2 text-right cursor-pointer text-primary"
        >No tienes cuenta?, registrate!</span
      >
    </div>
    <p-button
      (click)="enviarFormulario()"
      label="Sign In"
      styleClass="w-full"
    ></p-button>
  </div>
</app-card-formulario>
