<app-card-formulario
  [datos]="{
    title: 'Enviar Email',
    description: 'Ingresa tu correo institucional'
  }"
>
  <p-dialog />
  <p-toast />
  <p-confirm-dialog />
  <p-dialog />

  <div class="card flex justify-center">
    <div class="m-1 p-1">
      <form class="m1- p-1" [formGroup]="formEmail">
        <label
          for="institutionalEmail"
          class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
          >Email Institucional</label
        >
        <input
          pInputText
          id="institutionalEmail"
          formControlName="institutionalEmail"
          placeholder="Email Institucional"
          styleClass="mb-4"
          appValidationClass
        />
      </form>
      <p-button
        (click)="confirmar($event)"
        label="Enviar al correo"
        styleClass="w-full mt-1 pt-1"
      ></p-button>
    </div>
  </div>
</app-card-formulario>
